body {
    background-color: rgb(235, 198, 174);
    text-align: center;
}
h1 {
    text-align: center;
    color: rgb(255, 228, 202);
    background-color: rgb(184, 129, 113);
    border: 4px dashed rgb(54, 36, 31);
    border-radius: 25px;
    margin-left: 500px;
    margin-right: 500px;
}
.main {
    background-color: rgb(255, 241, 196);
    color: sienna;
    border: double rgb(131, 92, 41);
    padding: 20px;
    margin: 20px;
}
.secondary {
    background-color: rgb(218, 155, 136);
    color: rgb(255, 232, 213);
    border: solid rgb(131, 92, 41);
    padding: 20px;
    margin: 20px;
}
.third {
    background-color: rgb(247, 208, 172);
    color: sienna;
    border-radius: 25px;
    border: dashed rgb(131, 92, 41);
    padding: 20px;
    margin: 20px;
}
ul {
    list-style-type: none;  /*para mawala yung bullet*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #be7b4e;
  }

li {
    float: left;
}

li a {
    display: block;
    color: rgb(255, 210, 192);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #774c30;
}

/* Navbar container */
.navbar {
overflow: hidden;
background-color: #815a2d;
font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
float: left;
font-size: 16px;
color: rgb(255, 246, 233);
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* The dropdown container */
.dropdown {
float: left;
overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
font-size: 16px;
border: none;
outline: none;
color: white;
padding: 14px 16px;
background-color: inherit;
font-family: inherit; /* Important for vertical align on mobile phones */
margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
background-color: rgb(107, 76, 36);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
display: block;
}
